!!!
%html
  %head
    %title []
    %meta{:charset => "UTF-8"}

    %link{:rel => "stylesheet", :href => "assets/app.css", :type => "text/css", :media => "screen"}

  %body
    Hello!

    %script{:type => 'text/javascript', :src => 'assets/app.js'}